<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Cat Pack</title>
</head>
<body>
    <div class="wrapper">
        <h1>Details for <%=cat.name%></h1>
        <br>
        <p><span>Name: </span> <%=cat.name%></p>
        <p><span>Favorite Food: </span> <%=cat.f_food%> </p>
        <p><span>Hiding Spots: </span>
            <%for (let i=0; i<cat.h_spots.length; i++){%>
                    <%=cat.h_spots[i]%>, 
            <%}%>
        </p>
        <br>
        <a href="/">Back to Home</a>  |  <a href="/cats/edit/<%=cat.id%>">Edit </a>  |  <a href="/cats/destroy/<%=cat.id%>">Delete</a>
    </div>
</body>
</html>